In [5]:
# Dibyo Susanto / 2020070020
# Kegiatan 1 : Variabel dan Tipe Data
#Tipe Data String
a = 'Informatika ITS PKU dengan petik satu'
b = "Informatika ITS PKU dengan petik dua"
c = '"Informatika ITS PKU dengan petik tiga"'
print(a)
print(b)
print(c)

#Tipe Data Integer
a = 1000
print(a)
#Tipe Data Float
a = 33.33
print(a)
#Tipe Data Hexa
a = 'F00F00'
print(a)
#Tipe Data Complex
a = 4j
print(a)
#Tipe Data Boolean
a = False
print(a)

Informatika ITS PKU dengan petik satu
Informatika ITS PKU dengan petik dua
"Informatika ITS PKU dengan petik tiga"
1000
33.33
F00F00
4j
False

In [ ]:
Analisa sintaks di atas
1. Tipe data string di apit oleh tanda petik 1 dan petik 2
2. Tipe data integer berupa angka bilangan bulat
3. Tipe data float berupa angka bilangan desimal
4. Tidak ada type data hexa
5. Tipe data complex berupa bilangan yang memiliki variabel
6. Tipe data boolean berupa benar atau salah

In [16]:
# Kegiatan 2 : Menampilkan Tipe Data
#Tipe Data String
a = 'Informatika ITS PKU dengan petik satu'
b = "Informatika ITS PKU dengan petik dua"
c = '"Informatika ITS PKU dengan petik tiga"'
type(a)
type(b)
type(c)

str

In [17]:
#Tipe Data Integer
a = 1000
type(a)

int

In [18]:
#Tipe Data Float
a = 33.33
type(a)

float

In [24]:
#Tipe Data Hexa
a = F00F00
type(a)

NameError: name 'F00F00' is not defined

In [22]:
#Tipe Data Complex
a = 4j
type(a)

complex

In [23]:
#Tipe Data Boolean
a = False
type(a)

bool

In [25]:
# Kegiatan 3: Slicing pada String
A ='Saya Mahasiswa Informatika'
B = "Saya belajar python"
print(A[5:14])
print(A[15:])
print(B[:12])
print(A[:15]+B[5:])

Mahasiswa
Informatika
Saya belajar
Saya Mahasiswa belajar python

In [27]:
# List, Tuple, Set, dan Dictionary

# 1. Tipe data List
a = [5,10,15,20,25,30,35,40]
print("a[1] = ", a[1])
print("a[0:4] = ", a[0:4])
print("a[6:] = ", a[6:])
a[1] = a[1]+3
print(a)
a[1] = "lima"
print(a)
a = a + [45,"limapuluh",55]
print(a)
print(type(a))

a[1] =  10
a[0:4] =  [5, 10, 15, 20]
a[6:] =  [35, 40]
[5, 13, 15, 20, 25, 30, 35, 40]
[5, 'lima', 15, 20, 25, 30, 35, 40]
[5, 'lima', 15, 20, 25, 30, 35, 40, 45, 'limapuluh', 55]
<class 'list'>

In [29]:
# 2. Tipe Data Tuple
x = (100,200,300)
y = ('satu','dua','tiga')
print(type(x))
print(type(y))
print(x)
print(y[0])
print(y[1])
x[0] = 150

<class 'tuple'>
<class 'tuple'>
(100, 200, 300)
satu
dua

TypeError: 'tuple' object does not support item assignment

In [30]:
# 3. Tipe Data Set
a = set([1,2,3])
print(a)
print(type(a))
b = {1, 2.0, "Algoritma", (3,4,5)}
print(b)
print(type(b))
c = {1,2,2,3,3,3}
print(c)
print(type(c))
d = {1,2,[3,4,5]}
print(d)

{1, 2, 3}
<class 'set'>
{1, 2.0, (3, 4, 5), 'Algoritma'}
<class 'set'>
{1, 2, 3}
<class 'set'>

TypeError: unhashable type: 'list'

In [31]:
# 4. Tipe data Dictionary
x = {1:'Jeruk', 2:'Semangka',
'Apel':3}
print(type(x))
print(x)
len(x)
x[1]= 'Melon'
x['Kiwi']= 4
print(x)
len(x)
print("x[2] = ", x[2])
print("x['Apel'] = ", x['Apel'])
print("x[3] = ", x[3])

<class 'dict'>
{1: 'Jeruk', 2: 'Semangka', 'Apel': 3}
{1: 'Melon', 2: 'Semangka', 'Apel': 3, 'Kiwi': 4}
x[2] =  Semangka
x['Apel'] =  3

KeyError: 3

In [ ]:
Analisa sintaks di atas
1. Tipe data list merupakan tipe data daftar yang bebas, bisa diubah dan mengizinkan duplikasi
2. Tipe data tuple nilainya tidak bisa diubah
3. Tipe data set tidak membolehkan duplikasi nilai dan juga tidak membolehkan perubahan nilai
4. Tipe data dictionary dipanggil dengan sintaks key:value, jika dibalik (value:key) maka error

# D. TUGAS
# 1. Perbedaan tipe data list dan tuple
Tipe data list mutable, sedang tipe data tuple immutable. Hal ini karena value pada list bisa diubah, sedang di tipe data tuple fixed, tidak bisa diubah

In [16]:
# 2. Data buku 
pengarang = ('Pram', 'Tere Liye', 'Paulo Coelho', 'Puthut EA')
judul_buku = ('Bumi Manusia', 'Rosie', 'The Alchemist', 'Cinta Tak Pernah Tepat Waktu')
penerbit = ('Gramedia', 'Republika', 'Elex Media Computindo', 'Mojok')
tahun_terbit = (1990, 2015, 1989, 2005)

print(pengarang)
print(judul_buku)
print(penerbit)
print(tahun_terbit)

# 3. Menampilkan data buku
# a
for i in (0,1,2,3):
    print("Buku",judul_buku[i],"ditulis oleh", pengarang[i])
# b
for q in (0,1,2,3):
    print("Buku",judul_buku[q],"diterbitkan oleh",penerbit[q],"pada tahun", tahun_terbit[q])

# maaf bu, saya tidak memahami soalnya dengan benar

('Pram', 'Tere Liye', 'Paulo Coelho', 'Puthut EA')
('Bumi Manusia', 'Rosie', 'The Alchemist', 'Cinta Tak Pernah Tepat Waktu')
('Gramedia', 'Republika', 'Elex Media Computindo', 'Mojok')
(1990, 2015, 1989, 2005)
Buku Bumi Manusia ditulis oleh Pram
Buku Rosie ditulis oleh Tere Liye
Buku The Alchemist ditulis oleh Paulo Coelho
Buku Cinta Tak Pernah Tepat Waktu ditulis oleh Puthut EA
Buku Bumi Manusia diterbitkan oleh Gramedia pada tahun 1990
Buku Rosie diterbitkan oleh Republika pada tahun 2015
Buku The Alchemist diterbitkan oleh Elex Media Computindo pada tahun 1989
Buku Cinta Tak Pernah Tepat Waktu diterbitkan oleh Mojok pada tahun 2005